
######
#
# DO NOT REPLACE THIS FILE WITH 
# curl http://s.gonze.com/starter.txt > .htaccess
#
######

RewriteEngine On

RewriteRule ^starter.txt$ starter.php [L]
RewriteRule ^URL_TO_SHORTEN$ http://s.gonze.com [R,L]

# Whenever you want to add a URL to shorten,
# replace some URL_TO_SHORTEN below with the
# URL you want to shorten.

RewriteRule ^jzPqF$ http://tinyurl.com/ [R,L]
RewriteRule ^dtc8g$ URL_TO_SHORTEN [R,L]
RewriteRule ^CvxRh$ URL_TO_SHORTEN [R,L]
RewriteRule ^kWnyd$ URL_TO_SHORTEN [R,L]
RewriteRule ^vKduQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^WLiBK$ URL_TO_SHORTEN [R,L]
RewriteRule ^DSfRU$ URL_TO_SHORTEN [R,L]
RewriteRule ^2pJhg$ URL_TO_SHORTEN [R,L]
RewriteRule ^UTsk7$ URL_TO_SHORTEN [R,L]
RewriteRule ^P58RV$ URL_TO_SHORTEN [R,L]
RewriteRule ^QER0J$ URL_TO_SHORTEN [R,L]
RewriteRule ^Y9BfV$ URL_TO_SHORTEN [R,L]
RewriteRule ^sEA5o$ URL_TO_SHORTEN [R,L]
RewriteRule ^lFBui$ URL_TO_SHORTEN [R,L]
RewriteRule ^TWCBD$ URL_TO_SHORTEN [R,L]
RewriteRule ^xtiDK$ URL_TO_SHORTEN [R,L]
RewriteRule ^9lOkP$ URL_TO_SHORTEN [R,L]
RewriteRule ^dZTXN$ URL_TO_SHORTEN [R,L]
RewriteRule ^AcMUH$ URL_TO_SHORTEN [R,L]
RewriteRule ^SihBQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^ExvdK$ URL_TO_SHORTEN [R,L]
RewriteRule ^p0cJ3$ URL_TO_SHORTEN [R,L]
RewriteRule ^NYxIw$ URL_TO_SHORTEN [R,L]
RewriteRule ^Llp5n$ URL_TO_SHORTEN [R,L]
RewriteRule ^amuH2$ URL_TO_SHORTEN [R,L]
RewriteRule ^uHYQf$ URL_TO_SHORTEN [R,L]
RewriteRule ^iObK5$ URL_TO_SHORTEN [R,L]
RewriteRule ^ivBdy$ URL_TO_SHORTEN [R,L]
RewriteRule ^TlcXN$ URL_TO_SHORTEN [R,L]
RewriteRule ^KWzMf$ URL_TO_SHORTEN [R,L]
RewriteRule ^SrUF7$ URL_TO_SHORTEN [R,L]
RewriteRule ^Whwp3$ URL_TO_SHORTEN [R,L]
RewriteRule ^Jd4O3$ URL_TO_SHORTEN [R,L]
RewriteRule ^CSD6s$ URL_TO_SHORTEN [R,L]
RewriteRule ^o59xX$ URL_TO_SHORTEN [R,L]
RewriteRule ^cjSZp$ URL_TO_SHORTEN [R,L]
RewriteRule ^4OQeI$ URL_TO_SHORTEN [R,L]
RewriteRule ^ltsNb$ URL_TO_SHORTEN [R,L]
RewriteRule ^XKbIv$ URL_TO_SHORTEN [R,L]
RewriteRule ^7wY30$ URL_TO_SHORTEN [R,L]
RewriteRule ^CdVe5$ URL_TO_SHORTEN [R,L]
RewriteRule ^uI1F3$ URL_TO_SHORTEN [R,L]
RewriteRule ^lIyft$ URL_TO_SHORTEN [R,L]
RewriteRule ^a3LTk$ URL_TO_SHORTEN [R,L]
RewriteRule ^qzpxQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^cyMGA$ URL_TO_SHORTEN [R,L]
RewriteRule ^vDjfY$ URL_TO_SHORTEN [R,L]
RewriteRule ^yigvP$ URL_TO_SHORTEN [R,L]
RewriteRule ^591zh$ URL_TO_SHORTEN [R,L]
RewriteRule ^jzLki$ URL_TO_SHORTEN [R,L]
RewriteRule ^TDGE2$ URL_TO_SHORTEN [R,L]
RewriteRule ^1MJcP$ URL_TO_SHORTEN [R,L]
RewriteRule ^gRIY5$ URL_TO_SHORTEN [R,L]
RewriteRule ^Ak3IB$ URL_TO_SHORTEN [R,L]
RewriteRule ^6HArC$ URL_TO_SHORTEN [R,L]
RewriteRule ^tFQyL$ URL_TO_SHORTEN [R,L]
RewriteRule ^Wjn31$ URL_TO_SHORTEN [R,L]
RewriteRule ^veJXB$ URL_TO_SHORTEN [R,L]
RewriteRule ^hKAHs$ URL_TO_SHORTEN [R,L]
RewriteRule ^QU0hL$ URL_TO_SHORTEN [R,L]
RewriteRule ^nxcXK$ URL_TO_SHORTEN [R,L]
RewriteRule ^FVEXY$ URL_TO_SHORTEN [R,L]
RewriteRule ^EgjNy$ URL_TO_SHORTEN [R,L]
RewriteRule ^vGHdm$ URL_TO_SHORTEN [R,L]
RewriteRule ^wnMeD$ URL_TO_SHORTEN [R,L]
RewriteRule ^HtiQ4$ URL_TO_SHORTEN [R,L]
RewriteRule ^O7Klg$ URL_TO_SHORTEN [R,L]
RewriteRule ^ZGSkr$ URL_TO_SHORTEN [R,L]
RewriteRule ^8tsrV$ URL_TO_SHORTEN [R,L]
RewriteRule ^psNOT$ URL_TO_SHORTEN [R,L]
RewriteRule ^z6Bqx$ URL_TO_SHORTEN [R,L]
RewriteRule ^cGpHw$ URL_TO_SHORTEN [R,L]
RewriteRule ^Az15F$ URL_TO_SHORTEN [R,L]
RewriteRule ^Rb8gD$ URL_TO_SHORTEN [R,L]
RewriteRule ^WxgXw$ URL_TO_SHORTEN [R,L]
RewriteRule ^sbPaZ$ URL_TO_SHORTEN [R,L]
RewriteRule ^j9CsE$ URL_TO_SHORTEN [R,L]
RewriteRule ^MZ8V7$ URL_TO_SHORTEN [R,L]
RewriteRule ^JOoau$ URL_TO_SHORTEN [R,L]
RewriteRule ^KYEU8$ URL_TO_SHORTEN [R,L]
RewriteRule ^0VrkD$ URL_TO_SHORTEN [R,L]
RewriteRule ^4GQXh$ URL_TO_SHORTEN [R,L]
RewriteRule ^ehybQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^gk65n$ URL_TO_SHORTEN [R,L]
RewriteRule ^wD6CW$ URL_TO_SHORTEN [R,L]
RewriteRule ^LT4vs$ URL_TO_SHORTEN [R,L]
RewriteRule ^zdLan$ URL_TO_SHORTEN [R,L]
RewriteRule ^y7qSM$ URL_TO_SHORTEN [R,L]
RewriteRule ^b2BvD$ URL_TO_SHORTEN [R,L]
RewriteRule ^yORrX$ URL_TO_SHORTEN [R,L]
RewriteRule ^47njs$ URL_TO_SHORTEN [R,L]
RewriteRule ^DBayH$ URL_TO_SHORTEN [R,L]
RewriteRule ^C0Hw1$ URL_TO_SHORTEN [R,L]
RewriteRule ^F8vU9$ URL_TO_SHORTEN [R,L]
RewriteRule ^kZYNJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^KYTiF$ URL_TO_SHORTEN [R,L]
RewriteRule ^Oqv9j$ URL_TO_SHORTEN [R,L]
RewriteRule ^9VN0A$ URL_TO_SHORTEN [R,L]
RewriteRule ^qL6UF$ URL_TO_SHORTEN [R,L]
RewriteRule ^KnPQh$ URL_TO_SHORTEN [R,L]
RewriteRule ^rDGQm$ URL_TO_SHORTEN [R,L]
RewriteRule ^X03S5$ URL_TO_SHORTEN [R,L]
RewriteRule ^uyFwB$ URL_TO_SHORTEN [R,L]
RewriteRule ^7Ahku$ URL_TO_SHORTEN [R,L]
RewriteRule ^EOfD1$ URL_TO_SHORTEN [R,L]
RewriteRule ^n7RKA$ URL_TO_SHORTEN [R,L]
RewriteRule ^clano$ URL_TO_SHORTEN [R,L]
RewriteRule ^NpZwC$ URL_TO_SHORTEN [R,L]
RewriteRule ^9tGOX$ URL_TO_SHORTEN [R,L]
RewriteRule ^nDbq3$ URL_TO_SHORTEN [R,L]
RewriteRule ^R3Iwc$ URL_TO_SHORTEN [R,L]
RewriteRule ^pVQvf$ URL_TO_SHORTEN [R,L]
RewriteRule ^ZMudV$ URL_TO_SHORTEN [R,L]
RewriteRule ^Io1fH$ URL_TO_SHORTEN [R,L]
RewriteRule ^iXSR6$ URL_TO_SHORTEN [R,L]
RewriteRule ^x5t9H$ URL_TO_SHORTEN [R,L]
RewriteRule ^0Chk5$ URL_TO_SHORTEN [R,L]
RewriteRule ^RMdxj$ URL_TO_SHORTEN [R,L]
RewriteRule ^okwPL$ URL_TO_SHORTEN [R,L]
RewriteRule ^X7J0R$ URL_TO_SHORTEN [R,L]
RewriteRule ^xnE63$ URL_TO_SHORTEN [R,L]
RewriteRule ^WIV9P$ URL_TO_SHORTEN [R,L]
RewriteRule ^m9xsJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^sWjdZ$ URL_TO_SHORTEN [R,L]
RewriteRule ^c8EUH$ URL_TO_SHORTEN [R,L]
RewriteRule ^Og8ca$ URL_TO_SHORTEN [R,L]
RewriteRule ^P1BEu$ URL_TO_SHORTEN [R,L]
RewriteRule ^ErL5k$ URL_TO_SHORTEN [R,L]
RewriteRule ^TgJ9A$ URL_TO_SHORTEN [R,L]
RewriteRule ^itI6d$ URL_TO_SHORTEN [R,L]
RewriteRule ^hrpMB$ URL_TO_SHORTEN [R,L]
RewriteRule ^vo7kU$ URL_TO_SHORTEN [R,L]
RewriteRule ^beIF3$ URL_TO_SHORTEN [R,L]
RewriteRule ^zfh2q$ URL_TO_SHORTEN [R,L]
RewriteRule ^U0t1c$ URL_TO_SHORTEN [R,L]
RewriteRule ^Aj6vJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^mgi0M$ URL_TO_SHORTEN [R,L]
RewriteRule ^luhOC$ URL_TO_SHORTEN [R,L]
RewriteRule ^j4k2m$ URL_TO_SHORTEN [R,L]
RewriteRule ^F0kqw$ URL_TO_SHORTEN [R,L]
RewriteRule ^AEfcz$ URL_TO_SHORTEN [R,L]
RewriteRule ^j4Gbw$ URL_TO_SHORTEN [R,L]
RewriteRule ^FdbeI$ URL_TO_SHORTEN [R,L]
RewriteRule ^ZUPsp$ URL_TO_SHORTEN [R,L]
RewriteRule ^rITEh$ URL_TO_SHORTEN [R,L]
RewriteRule ^PrLZk$ URL_TO_SHORTEN [R,L]
RewriteRule ^vhzyB$ URL_TO_SHORTEN [R,L]
RewriteRule ^3z6V4$ URL_TO_SHORTEN [R,L]
RewriteRule ^HV0ih$ URL_TO_SHORTEN [R,L]
RewriteRule ^HsV3f$ URL_TO_SHORTEN [R,L]
RewriteRule ^BT90h$ URL_TO_SHORTEN [R,L]
RewriteRule ^m8BHF$ URL_TO_SHORTEN [R,L]
RewriteRule ^TlGiF$ URL_TO_SHORTEN [R,L]
RewriteRule ^UM237$ URL_TO_SHORTEN [R,L]
RewriteRule ^w0iad$ URL_TO_SHORTEN [R,L]
RewriteRule ^dkO5J$ URL_TO_SHORTEN [R,L]
RewriteRule ^vbnyp$ URL_TO_SHORTEN [R,L]
RewriteRule ^IZd6v$ URL_TO_SHORTEN [R,L]
RewriteRule ^aAUIy$ URL_TO_SHORTEN [R,L]
RewriteRule ^Yy3HO$ URL_TO_SHORTEN [R,L]
RewriteRule ^PT1q7$ URL_TO_SHORTEN [R,L]
RewriteRule ^4XDr8$ URL_TO_SHORTEN [R,L]
RewriteRule ^TsX1P$ URL_TO_SHORTEN [R,L]
RewriteRule ^6sXcC$ URL_TO_SHORTEN [R,L]
RewriteRule ^JXcy4$ URL_TO_SHORTEN [R,L]
RewriteRule ^5oYVp$ URL_TO_SHORTEN [R,L]
RewriteRule ^wBpcG$ URL_TO_SHORTEN [R,L]
RewriteRule ^PyQfw$ URL_TO_SHORTEN [R,L]
RewriteRule ^wNeLE$ URL_TO_SHORTEN [R,L]
RewriteRule ^qgEb5$ URL_TO_SHORTEN [R,L]
RewriteRule ^fntmi$ URL_TO_SHORTEN [R,L]
RewriteRule ^RJqjD$ URL_TO_SHORTEN [R,L]
RewriteRule ^On1t6$ URL_TO_SHORTEN [R,L]
RewriteRule ^JaGRh$ URL_TO_SHORTEN [R,L]
RewriteRule ^Yso2y$ URL_TO_SHORTEN [R,L]
RewriteRule ^nuDJv$ URL_TO_SHORTEN [R,L]
RewriteRule ^jJWps$ URL_TO_SHORTEN [R,L]
RewriteRule ^MV3ZO$ URL_TO_SHORTEN [R,L]
RewriteRule ^lhEYH$ URL_TO_SHORTEN [R,L]
RewriteRule ^BgLR2$ URL_TO_SHORTEN [R,L]
RewriteRule ^mie8U$ URL_TO_SHORTEN [R,L]
RewriteRule ^TNKhg$ URL_TO_SHORTEN [R,L]
RewriteRule ^CueOt$ URL_TO_SHORTEN [R,L]
RewriteRule ^P2cQH$ URL_TO_SHORTEN [R,L]
RewriteRule ^f5Fv0$ URL_TO_SHORTEN [R,L]
RewriteRule ^TE95c$ URL_TO_SHORTEN [R,L]
RewriteRule ^wfa8I$ URL_TO_SHORTEN [R,L]
RewriteRule ^szIWg$ URL_TO_SHORTEN [R,L]
RewriteRule ^kmw7C$ URL_TO_SHORTEN [R,L]
RewriteRule ^1Jluj$ URL_TO_SHORTEN [R,L]
RewriteRule ^NQp8V$ URL_TO_SHORTEN [R,L]
RewriteRule ^NRqda$ URL_TO_SHORTEN [R,L]
RewriteRule ^tocmy$ URL_TO_SHORTEN [R,L]
RewriteRule ^BqX3y$ URL_TO_SHORTEN [R,L]
RewriteRule ^Fj65J$ URL_TO_SHORTEN [R,L]
RewriteRule ^5cuXa$ URL_TO_SHORTEN [R,L]
RewriteRule ^suGCt$ URL_TO_SHORTEN [R,L]
RewriteRule ^BqviY$ URL_TO_SHORTEN [R,L]
RewriteRule ^Rqgjs$ URL_TO_SHORTEN [R,L]
RewriteRule ^HMYhT$ URL_TO_SHORTEN [R,L]
RewriteRule ^f9VEH$ URL_TO_SHORTEN [R,L]
RewriteRule ^Kmkqj$ URL_TO_SHORTEN [R,L]
RewriteRule ^H9A6U$ URL_TO_SHORTEN [R,L]
RewriteRule ^Gxwop$ URL_TO_SHORTEN [R,L]
RewriteRule ^gLMuR$ URL_TO_SHORTEN [R,L]
RewriteRule ^AvJ4o$ URL_TO_SHORTEN [R,L]
RewriteRule ^9UfIP$ URL_TO_SHORTEN [R,L]
RewriteRule ^dgoP1$ URL_TO_SHORTEN [R,L]
RewriteRule ^twFUh$ URL_TO_SHORTEN [R,L]
RewriteRule ^UrRWk$ URL_TO_SHORTEN [R,L]
RewriteRule ^1nPvu$ URL_TO_SHORTEN [R,L]
RewriteRule ^qAxMF$ URL_TO_SHORTEN [R,L]
RewriteRule ^SoKBL$ URL_TO_SHORTEN [R,L]
RewriteRule ^oTWfY$ URL_TO_SHORTEN [R,L]
RewriteRule ^gW6rN$ URL_TO_SHORTEN [R,L]
RewriteRule ^DgbIz$ URL_TO_SHORTEN [R,L]
RewriteRule ^PzSfQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^kwoOX$ URL_TO_SHORTEN [R,L]
RewriteRule ^cC52p$ URL_TO_SHORTEN [R,L]
RewriteRule ^ADEIL$ URL_TO_SHORTEN [R,L]
RewriteRule ^FANM0$ URL_TO_SHORTEN [R,L]
RewriteRule ^sWuJ7$ URL_TO_SHORTEN [R,L]
RewriteRule ^JjSn1$ URL_TO_SHORTEN [R,L]
RewriteRule ^xmAZJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^yv0SJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^SFgnX$ URL_TO_SHORTEN [R,L]
RewriteRule ^ltcBi$ URL_TO_SHORTEN [R,L]
RewriteRule ^KoVO3$ URL_TO_SHORTEN [R,L]
RewriteRule ^1EVBX$ URL_TO_SHORTEN [R,L]
RewriteRule ^dQh0p$ URL_TO_SHORTEN [R,L]
RewriteRule ^7qucn$ URL_TO_SHORTEN [R,L]
RewriteRule ^dSjQE$ URL_TO_SHORTEN [R,L]
RewriteRule ^tVUpj$ URL_TO_SHORTEN [R,L]
RewriteRule ^kK3e1$ URL_TO_SHORTEN [R,L]
RewriteRule ^wjbio$ URL_TO_SHORTEN [R,L]
RewriteRule ^ke9UY$ URL_TO_SHORTEN [R,L]
RewriteRule ^nLK8u$ URL_TO_SHORTEN [R,L]
RewriteRule ^mFSLw$ URL_TO_SHORTEN [R,L]
RewriteRule ^MJaTl$ URL_TO_SHORTEN [R,L]
RewriteRule ^GHkmW$ URL_TO_SHORTEN [R,L]
RewriteRule ^Vyo4Q$ URL_TO_SHORTEN [R,L]
RewriteRule ^cdrTl$ URL_TO_SHORTEN [R,L]
RewriteRule ^4kxta$ URL_TO_SHORTEN [R,L]
RewriteRule ^krdyQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^GU8SX$ URL_TO_SHORTEN [R,L]
RewriteRule ^HLlTo$ URL_TO_SHORTEN [R,L]
RewriteRule ^vqPgI$ URL_TO_SHORTEN [R,L]
RewriteRule ^VbgAR$ URL_TO_SHORTEN [R,L]
RewriteRule ^ab4Sm$ URL_TO_SHORTEN [R,L]
RewriteRule ^yHPEV$ URL_TO_SHORTEN [R,L]
RewriteRule ^vIP7C$ URL_TO_SHORTEN [R,L]
RewriteRule ^3Uhl9$ URL_TO_SHORTEN [R,L]
RewriteRule ^q5CDk$ URL_TO_SHORTEN [R,L]
RewriteRule ^LFYXz$ URL_TO_SHORTEN [R,L]
RewriteRule ^vKl2G$ URL_TO_SHORTEN [R,L]
RewriteRule ^Nv1Of$ URL_TO_SHORTEN [R,L]
RewriteRule ^YJo3I$ URL_TO_SHORTEN [R,L]
RewriteRule ^WSNeP$ URL_TO_SHORTEN [R,L]
RewriteRule ^9UBnA$ URL_TO_SHORTEN [R,L]
RewriteRule ^cNkJi$ URL_TO_SHORTEN [R,L]
RewriteRule ^o9x0n$ URL_TO_SHORTEN [R,L]
RewriteRule ^F8n5j$ URL_TO_SHORTEN [R,L]
RewriteRule ^cE6t7$ URL_TO_SHORTEN [R,L]
RewriteRule ^m08TA$ URL_TO_SHORTEN [R,L]
RewriteRule ^Whwik$ URL_TO_SHORTEN [R,L]
RewriteRule ^6es0x$ URL_TO_SHORTEN [R,L]
RewriteRule ^kJ0Zi$ URL_TO_SHORTEN [R,L]
RewriteRule ^EqBu0$ URL_TO_SHORTEN [R,L]
RewriteRule ^ScNHG$ URL_TO_SHORTEN [R,L]
RewriteRule ^iu9PN$ URL_TO_SHORTEN [R,L]
RewriteRule ^hiQTa$ URL_TO_SHORTEN [R,L]
RewriteRule ^bMO7r$ URL_TO_SHORTEN [R,L]
RewriteRule ^Mj5l1$ URL_TO_SHORTEN [R,L]
RewriteRule ^Zzx1N$ URL_TO_SHORTEN [R,L]
RewriteRule ^yJhrv$ URL_TO_SHORTEN [R,L]
RewriteRule ^npDSP$ URL_TO_SHORTEN [R,L]
RewriteRule ^qNlkh$ URL_TO_SHORTEN [R,L]
RewriteRule ^9Wd1s$ URL_TO_SHORTEN [R,L]
RewriteRule ^1Zfdg$ URL_TO_SHORTEN [R,L]
RewriteRule ^gXFt6$ URL_TO_SHORTEN [R,L]
RewriteRule ^ztjVc$ URL_TO_SHORTEN [R,L]
RewriteRule ^X3iPo$ URL_TO_SHORTEN [R,L]
RewriteRule ^ZSLCI$ URL_TO_SHORTEN [R,L]
RewriteRule ^L8QTp$ URL_TO_SHORTEN [R,L]
RewriteRule ^Y1mXk$ URL_TO_SHORTEN [R,L]
RewriteRule ^Pv6Rh$ URL_TO_SHORTEN [R,L]
RewriteRule ^gaQ8C$ URL_TO_SHORTEN [R,L]
RewriteRule ^qgc2R$ URL_TO_SHORTEN [R,L]
RewriteRule ^aD2hM$ URL_TO_SHORTEN [R,L]
RewriteRule ^69qHZ$ URL_TO_SHORTEN [R,L]
RewriteRule ^9RMPz$ URL_TO_SHORTEN [R,L]
RewriteRule ^VQ1rH$ URL_TO_SHORTEN [R,L]
RewriteRule ^9NtR2$ URL_TO_SHORTEN [R,L]
RewriteRule ^3LPCM$ URL_TO_SHORTEN [R,L]
RewriteRule ^MAUrP$ URL_TO_SHORTEN [R,L]
RewriteRule ^6bB0X$ URL_TO_SHORTEN [R,L]
RewriteRule ^phWNM$ URL_TO_SHORTEN [R,L]
RewriteRule ^h2gqX$ URL_TO_SHORTEN [R,L]
RewriteRule ^Xtqpn$ URL_TO_SHORTEN [R,L]
RewriteRule ^81Ugk$ URL_TO_SHORTEN [R,L]
RewriteRule ^avkc3$ URL_TO_SHORTEN [R,L]
RewriteRule ^ExC3a$ URL_TO_SHORTEN [R,L]
RewriteRule ^2SCQz$ URL_TO_SHORTEN [R,L]
RewriteRule ^ew7aQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^5qcgt$ URL_TO_SHORTEN [R,L]
RewriteRule ^DVaml$ URL_TO_SHORTEN [R,L]
RewriteRule ^wDMvF$ URL_TO_SHORTEN [R,L]
RewriteRule ^4gJMX$ URL_TO_SHORTEN [R,L]
RewriteRule ^pV9Wv$ URL_TO_SHORTEN [R,L]
RewriteRule ^SjWIR$ URL_TO_SHORTEN [R,L]
RewriteRule ^SiREB$ URL_TO_SHORTEN [R,L]
RewriteRule ^qIDZl$ URL_TO_SHORTEN [R,L]
RewriteRule ^q0uJX$ URL_TO_SHORTEN [R,L]
RewriteRule ^WJk0x$ URL_TO_SHORTEN [R,L]
RewriteRule ^lDJ2z$ URL_TO_SHORTEN [R,L]
RewriteRule ^yarfG$ URL_TO_SHORTEN [R,L]
RewriteRule ^7M29q$ URL_TO_SHORTEN [R,L]
RewriteRule ^sz4Vn$ URL_TO_SHORTEN [R,L]
RewriteRule ^TyZGD$ URL_TO_SHORTEN [R,L]
RewriteRule ^ypKhm$ URL_TO_SHORTEN [R,L]
RewriteRule ^NEh8U$ URL_TO_SHORTEN [R,L]
RewriteRule ^tTLRr$ URL_TO_SHORTEN [R,L]
RewriteRule ^e5NMw$ URL_TO_SHORTEN [R,L]
RewriteRule ^nHdIJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^rc2Zu$ URL_TO_SHORTEN [R,L]
RewriteRule ^qAHCI$ URL_TO_SHORTEN [R,L]
RewriteRule ^oUZ7z$ URL_TO_SHORTEN [R,L]
RewriteRule ^EhCUK$ URL_TO_SHORTEN [R,L]
RewriteRule ^tPmzl$ URL_TO_SHORTEN [R,L]
RewriteRule ^fWYsL$ URL_TO_SHORTEN [R,L]
RewriteRule ^vHJCs$ URL_TO_SHORTEN [R,L]
RewriteRule ^4RBKf$ URL_TO_SHORTEN [R,L]
RewriteRule ^pHq74$ URL_TO_SHORTEN [R,L]
RewriteRule ^gPf4r$ URL_TO_SHORTEN [R,L]
RewriteRule ^MUcEg$ URL_TO_SHORTEN [R,L]
RewriteRule ^ISOcr$ URL_TO_SHORTEN [R,L]
RewriteRule ^236Rf$ URL_TO_SHORTEN [R,L]
RewriteRule ^9YoBN$ URL_TO_SHORTEN [R,L]
RewriteRule ^vec87$ URL_TO_SHORTEN [R,L]
RewriteRule ^QmZwI$ URL_TO_SHORTEN [R,L]
RewriteRule ^sFXSC$ URL_TO_SHORTEN [R,L]
RewriteRule ^XfBUC$ URL_TO_SHORTEN [R,L]
RewriteRule ^zXkbl$ URL_TO_SHORTEN [R,L]
RewriteRule ^rCUKH$ URL_TO_SHORTEN [R,L]
RewriteRule ^fluXP$ URL_TO_SHORTEN [R,L]
RewriteRule ^AgfX6$ URL_TO_SHORTEN [R,L]
RewriteRule ^iryTC$ URL_TO_SHORTEN [R,L]
RewriteRule ^R6g3o$ URL_TO_SHORTEN [R,L]
RewriteRule ^B2dRp$ URL_TO_SHORTEN [R,L]
RewriteRule ^6OTZa$ URL_TO_SHORTEN [R,L]
RewriteRule ^tUipw$ URL_TO_SHORTEN [R,L]
RewriteRule ^ulEkO$ URL_TO_SHORTEN [R,L]
RewriteRule ^dx53r$ URL_TO_SHORTEN [R,L]
RewriteRule ^L3DK0$ URL_TO_SHORTEN [R,L]
RewriteRule ^uRBVE$ URL_TO_SHORTEN [R,L]
RewriteRule ^BbuPZ$ URL_TO_SHORTEN [R,L]
RewriteRule ^Jty3b$ URL_TO_SHORTEN [R,L]
RewriteRule ^Xg27Y$ URL_TO_SHORTEN [R,L]
RewriteRule ^Bp8ia$ URL_TO_SHORTEN [R,L]
RewriteRule ^J9OdY$ URL_TO_SHORTEN [R,L]
RewriteRule ^cSF1h$ URL_TO_SHORTEN [R,L]
RewriteRule ^buTgc$ URL_TO_SHORTEN [R,L]
RewriteRule ^Uuj53$ URL_TO_SHORTEN [R,L]
RewriteRule ^SN17f$ URL_TO_SHORTEN [R,L]
RewriteRule ^tm0Lp$ URL_TO_SHORTEN [R,L]
RewriteRule ^VHkjF$ URL_TO_SHORTEN [R,L]
RewriteRule ^2bEJv$ URL_TO_SHORTEN [R,L]
RewriteRule ^6XF3y$ URL_TO_SHORTEN [R,L]
RewriteRule ^CTuM2$ URL_TO_SHORTEN [R,L]
RewriteRule ^vEKbU$ URL_TO_SHORTEN [R,L]
RewriteRule ^5Ihl6$ URL_TO_SHORTEN [R,L]
RewriteRule ^TPAw1$ URL_TO_SHORTEN [R,L]
RewriteRule ^n5cTK$ URL_TO_SHORTEN [R,L]
RewriteRule ^zD7nU$ URL_TO_SHORTEN [R,L]
RewriteRule ^lx2Jd$ URL_TO_SHORTEN [R,L]
RewriteRule ^waRuB$ URL_TO_SHORTEN [R,L]
RewriteRule ^Yuhsi$ URL_TO_SHORTEN [R,L]
RewriteRule ^PNm5B$ URL_TO_SHORTEN [R,L]
RewriteRule ^zctKW$ URL_TO_SHORTEN [R,L]
RewriteRule ^IkEgw$ URL_TO_SHORTEN [R,L]
RewriteRule ^cKZwH$ URL_TO_SHORTEN [R,L]
RewriteRule ^y0Q9V$ URL_TO_SHORTEN [R,L]
RewriteRule ^Ppk1V$ URL_TO_SHORTEN [R,L]
RewriteRule ^Hk4yY$ URL_TO_SHORTEN [R,L]
RewriteRule ^sZIma$ URL_TO_SHORTEN [R,L]
RewriteRule ^DYZxE$ URL_TO_SHORTEN [R,L]
RewriteRule ^wbKjp$ URL_TO_SHORTEN [R,L]
RewriteRule ^kYaSA$ URL_TO_SHORTEN [R,L]
RewriteRule ^CTZ2V$ URL_TO_SHORTEN [R,L]
RewriteRule ^LmqZH$ URL_TO_SHORTEN [R,L]
RewriteRule ^fVZaU$ URL_TO_SHORTEN [R,L]
RewriteRule ^X7Ytl$ URL_TO_SHORTEN [R,L]
RewriteRule ^iDHKr$ URL_TO_SHORTEN [R,L]
RewriteRule ^v5COy$ URL_TO_SHORTEN [R,L]
RewriteRule ^B6r78$ URL_TO_SHORTEN [R,L]
RewriteRule ^QXsGY$ URL_TO_SHORTEN [R,L]
RewriteRule ^NAUdo$ URL_TO_SHORTEN [R,L]
RewriteRule ^gxSc9$ URL_TO_SHORTEN [R,L]
RewriteRule ^n50bh$ URL_TO_SHORTEN [R,L]
RewriteRule ^8Mf6m$ URL_TO_SHORTEN [R,L]
RewriteRule ^TDrJw$ URL_TO_SHORTEN [R,L]
RewriteRule ^SMx9z$ URL_TO_SHORTEN [R,L]
RewriteRule ^HUAj3$ URL_TO_SHORTEN [R,L]
RewriteRule ^thAR7$ URL_TO_SHORTEN [R,L]
RewriteRule ^Ink3d$ URL_TO_SHORTEN [R,L]
RewriteRule ^OJT4I$ URL_TO_SHORTEN [R,L]
RewriteRule ^XBCvJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^zjRHQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^l8WvZ$ URL_TO_SHORTEN [R,L]
RewriteRule ^2eVMc$ URL_TO_SHORTEN [R,L]
RewriteRule ^Lmg5C$ URL_TO_SHORTEN [R,L]
RewriteRule ^Xkcpr$ URL_TO_SHORTEN [R,L]
RewriteRule ^UDehV$ URL_TO_SHORTEN [R,L]
RewriteRule ^J6TQE$ URL_TO_SHORTEN [R,L]
RewriteRule ^36hzW$ URL_TO_SHORTEN [R,L]
RewriteRule ^4CtK9$ URL_TO_SHORTEN [R,L]
RewriteRule ^gpsmF$ URL_TO_SHORTEN [R,L]
RewriteRule ^k1Hw8$ URL_TO_SHORTEN [R,L]
RewriteRule ^WYixJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^Ooc32$ URL_TO_SHORTEN [R,L]
RewriteRule ^Lk13O$ URL_TO_SHORTEN [R,L]
RewriteRule ^z0Ztw$ URL_TO_SHORTEN [R,L]
RewriteRule ^S1pqX$ URL_TO_SHORTEN [R,L]
RewriteRule ^bE5jQ$ URL_TO_SHORTEN [R,L]
RewriteRule ^LBVHh$ URL_TO_SHORTEN [R,L]
RewriteRule ^ZwiSu$ URL_TO_SHORTEN [R,L]
RewriteRule ^q9vcE$ URL_TO_SHORTEN [R,L]
RewriteRule ^OWcE9$ URL_TO_SHORTEN [R,L]
RewriteRule ^AD21p$ URL_TO_SHORTEN [R,L]
RewriteRule ^JicCy$ URL_TO_SHORTEN [R,L]
RewriteRule ^d13Lx$ URL_TO_SHORTEN [R,L]
RewriteRule ^5fWs6$ URL_TO_SHORTEN [R,L]
RewriteRule ^FOlNy$ URL_TO_SHORTEN [R,L]
RewriteRule ^yQ01M$ URL_TO_SHORTEN [R,L]
RewriteRule ^5Vhtf$ URL_TO_SHORTEN [R,L]
RewriteRule ^9vu1H$ URL_TO_SHORTEN [R,L]
RewriteRule ^cUrZ1$ URL_TO_SHORTEN [R,L]
RewriteRule ^Mtlwa$ URL_TO_SHORTEN [R,L]
RewriteRule ^ucBOF$ URL_TO_SHORTEN [R,L]
RewriteRule ^ldDuR$ URL_TO_SHORTEN [R,L]
RewriteRule ^7tf0w$ URL_TO_SHORTEN [R,L]
RewriteRule ^EfHQv$ URL_TO_SHORTEN [R,L]
RewriteRule ^liEKo$ URL_TO_SHORTEN [R,L]
RewriteRule ^Dqxjt$ URL_TO_SHORTEN [R,L]
RewriteRule ^gVnsO$ URL_TO_SHORTEN [R,L]
RewriteRule ^I1RVt$ URL_TO_SHORTEN [R,L]
RewriteRule ^Goa71$ URL_TO_SHORTEN [R,L]
RewriteRule ^FgNkA$ URL_TO_SHORTEN [R,L]
RewriteRule ^qhPHd$ URL_TO_SHORTEN [R,L]
RewriteRule ^3sh5v$ URL_TO_SHORTEN [R,L]
RewriteRule ^jJWCG$ URL_TO_SHORTEN [R,L]
RewriteRule ^gzyo0$ URL_TO_SHORTEN [R,L]
RewriteRule ^MIqHF$ URL_TO_SHORTEN [R,L]
RewriteRule ^hCF8y$ URL_TO_SHORTEN [R,L]
RewriteRule ^F3ZoB$ URL_TO_SHORTEN [R,L]
RewriteRule ^ILnrh$ URL_TO_SHORTEN [R,L]
RewriteRule ^kZpQM$ URL_TO_SHORTEN [R,L]
RewriteRule ^lJcY1$ URL_TO_SHORTEN [R,L]
RewriteRule ^wAbvH$ URL_TO_SHORTEN [R,L]
RewriteRule ^ydfPG$ URL_TO_SHORTEN [R,L]
RewriteRule ^HkW7m$ URL_TO_SHORTEN [R,L]
RewriteRule ^OJlRv$ URL_TO_SHORTEN [R,L]
RewriteRule ^P7YDz$ URL_TO_SHORTEN [R,L]
RewriteRule ^8koKN$ URL_TO_SHORTEN [R,L]
RewriteRule ^BQVgu$ URL_TO_SHORTEN [R,L]
RewriteRule ^gmw6W$ URL_TO_SHORTEN [R,L]
RewriteRule ^VOow1$ URL_TO_SHORTEN [R,L]
RewriteRule ^VQ34I$ URL_TO_SHORTEN [R,L]
RewriteRule ^FWOMV$ URL_TO_SHORTEN [R,L]
RewriteRule ^daHng$ URL_TO_SHORTEN [R,L]
RewriteRule ^Y0qwA$ URL_TO_SHORTEN [R,L]
RewriteRule ^hL6Br$ URL_TO_SHORTEN [R,L]
RewriteRule ^LwIz0$ URL_TO_SHORTEN [R,L]
RewriteRule ^jYJUx$ URL_TO_SHORTEN [R,L]
RewriteRule ^1ALf4$ URL_TO_SHORTEN [R,L]
RewriteRule ^t6Dsz$ URL_TO_SHORTEN [R,L]
RewriteRule ^4otlY$ URL_TO_SHORTEN [R,L]
RewriteRule ^pcnS3$ URL_TO_SHORTEN [R,L]
RewriteRule ^trkzn$ URL_TO_SHORTEN [R,L]
RewriteRule ^Y1M7g$ URL_TO_SHORTEN [R,L]
RewriteRule ^XMG7h$ URL_TO_SHORTEN [R,L]
RewriteRule ^zgCe8$ URL_TO_SHORTEN [R,L]
RewriteRule ^Q1vzM$ URL_TO_SHORTEN [R,L]
RewriteRule ^UW8MH$ URL_TO_SHORTEN [R,L]
RewriteRule ^u5SgC$ URL_TO_SHORTEN [R,L]
RewriteRule ^D8OxV$ URL_TO_SHORTEN [R,L]
RewriteRule ^UNoSF$ URL_TO_SHORTEN [R,L]
RewriteRule ^IQ2kG$ URL_TO_SHORTEN [R,L]
RewriteRule ^9y0pn$ URL_TO_SHORTEN [R,L]
RewriteRule ^ygIXR$ URL_TO_SHORTEN [R,L]
RewriteRule ^a0Iwt$ URL_TO_SHORTEN [R,L]
RewriteRule ^ezcDT$ URL_TO_SHORTEN [R,L]
RewriteRule ^vDGnP$ URL_TO_SHORTEN [R,L]
RewriteRule ^8O4qJ$ URL_TO_SHORTEN [R,L]
RewriteRule ^AmwiK$ URL_TO_SHORTEN [R,L]
RewriteRule ^yCMvK$ URL_TO_SHORTEN [R,L]
RewriteRule ^XZ9gc$ URL_TO_SHORTEN [R,L]
RewriteRule ^uWRK5$ URL_TO_SHORTEN [R,L]
RewriteRule ^hJOKl$ URL_TO_SHORTEN [R,L]
RewriteRule ^Av5Ee$ URL_TO_SHORTEN [R,L]
RewriteRule ^NsVvC$ URL_TO_SHORTEN [R,L]
